---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

import { render } from "astro:content";
import RecipeRating from "@/components/RecipeRating.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const recipes = await getCollection("recipe");

  return recipes.map((recipe) => ({
    params: { slug: recipe.data.id },
    props: recipe,
  }));
}

type Props = CollectionEntry<"recipe">;

const recipe = Astro.props;

const { mainImage, title, description, id } = recipe.data;

const { Content } = await render(recipe);
---

<BaseLayout
  title={title}
  description={description}
  image={mainImage}
>
  <div class="content">
    <Image
      src={mainImage}
      alt={title}
      class="w-full"
      width={400}
      height={400}
    />

    <h1>{title}</h1>

    <RecipeRating
      server:defer
      id={id}
    />

    <Content />
  </div>
</BaseLayout>
