---
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";
import { Image } from "astro:assets";

import RecipeLike from "@/components/astro/recipe-page/RecipeLike.astro";
import RecipeRating from "@/components/astro/recipe-page/RecipeRating.astro";
import CommentsSection from "@/components/astro/recipe-page/CommentsSection.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const recipes = await getCollection("recipe");

  return recipes.map((recipe) => ({
    params: { slug: recipe.data.slug },
    props: recipe,
  }));
}

type Props = CollectionEntry<"recipe">;

const recipe = Astro.props;

const { previewImage, title, description, slug } = recipe.data;

const { Content } = await render(recipe);
---

<BaseLayout
  title={title}
  description={description}
  image={`/assets/images/previews/${previewImage}`}
>
  <div class="content">
    <Image
      src={`/assets/images/previews/${previewImage}`}
      alt={title}
      class="w-full"
      width={400}
      height={400}
    />

    <h1 class="relative flex items-center gap-4">
      {title}
      <RecipeLike
        server:defer
        slug={slug}
      />
    </h1>

    <RecipeRating
      server:defer
      slug={slug}
    />

    <Content />

    <CommentsSection
      server:defer
      slug={slug}
    />
  </div>
  <script define:vars={{ slug }}>
    document.addEventListener("DOMContentLoaded", async () => {
      await fetch(`/api/increment-views`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          recipeSlug: slug,
        }),
      });
    });
  </script>
</BaseLayout>
