---
import { CATEGORIES_LINKS, QUICK_LINKS, SOCIAL_LINKS } from "@/constants";
import Image from "astro/components/Image.astro";

const today = new Date();
---

<footer
  class="bg-linear-0 from-primary/18 to-secondary/4 text-muted-foreground py-8 border-t border-neutral-200"
>
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div>
        <h3 class="text-lg font-semibold text-foreground mb-4">Quick Links</h3>
        <ul class="space-y-2">
          {
            QUICK_LINKS.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="hover:text-primary transition-colors"
                >
                  {link.emoji && <span class="mr-1">{link.emoji}</span>}
                  {link.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3 class="font-semibold text-foreground mb-4">Recipe Categories</h3>
        <ul class="space-y-2">
          {
            CATEGORIES_LINKS.map((category) => (
              <li>
                <a
                  href={category.href}
                  class="hover:text-primary transition-colors"
                >
                  {category.emoji && <span class="mr-1">{category.emoji}</span>}
                  {category.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-foreground mb-4">
          Connect With Us
        </h3>
        <ul class="space-y-2">
          {
            SOCIAL_LINKS.map((platform) => (
              <li>
                <a
                  href={platform.href}
                  class="hover:text-primary transition-colors flex items-center gap-2 w-fit"
                >
                  <Image
                    class="w-6 h-6 hover:scale-110 transition-all"
                    width={24}
                    height={24}
                    src={platform.icon}
                    alt={platform.text}
                  />
                  <span>{platform.text}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="mt-12 pt-8 border-t border-border">
      <div class="flex flex-col md:flex-row justify-between items-center">
        <p class="text-sm">
          &copy; {today.getFullYear()} Cooking Spot. All rights reserved.
        </p>
        <nav class="mt-4 md:mt-0">
          <ul class="flex space-x-4 text-sm">
            <li>
              <a
                href="/privacy-policy"
                class="hover:text-primary transition-colors"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a
                href="/terms-of-service"
                class="hover:text-primary transition-colors"
                >Terms of Service</a
              >
            </li>
            <li>
              <a
                href="/sitemap-index.xml
      "
                class="hover:text-primary transition-colors"
                >Sitemap</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
