---
import { capitalize } from "@/lib/utils";
import type { TRecipeCollectionData } from "@/types";

import StarRating from "@/components/astro/recipe-page/StarRating.astro";
import { Image } from "astro:assets";

interface Props {
  recipe: TRecipeCollectionData & {
    slug: string | null;
    rating: string | null;
    ratingCount: number;
    views: number;
  };
}

const {
  recipe: {
    rating,
    ratingCount,
    slug,
    previewImage,
    title,
    cuisine,
    cookingTime,
    portions,
    categories,
  },
} = Astro.props;
---

<div class="card">
  <a
    href={`/recipes/${slug}`}
    class="rounded-lg overflow-hidden block"
  >
    <Image
      src={`/src/images/previews/${previewImage}`}
      alt={title}
      width={400}
      height={250}
      class="w-full h-48 object-cover"
    />
  </a>

  <div class="p-4">
    <div class="text-sm uppercase font-medium text-gray-500 mb-1">
      {cuisine}
    </div>

    <h2 class="text-xl font-bold mb-2">
      <a
        href={`/recipes/${slug}`}
        class="text-gray-900 hover:text-red-500 transition-colors duration-300 line-clamp-2"
      >
        {title}
      </a>
    </h2>

    <div class="flex items-center mb-2">
      <StarRating rating={rating || 0} />
      <span class="ml-2 text-sm text-gray-600">{ratingCount || 0} Rates</span>
    </div>

    <p class="text-sm text-gray-600">
      Cook time: {cookingTime} minutes |
    </p>
    <p class="text-sm text-gray-600">
      Portions: {portions}
    </p>

    <div class="mt-2 flex flex-wrap gap-2">
      {
        categories.map((category) => (
          <a
            class="text-xs bg-gray-200 text-gray-700 px-2 py-1 rounded-full hover:bg-secondary/75 hover:text-white transition-colors duration-300"
            href={`/recipes?category=${category}`}
          >
            {capitalize(category)}
          </a>
        ))
      }
    </div>
  </div>
</div>
